# Deliverable 1. Retrieve Weather Data.
---
1. Create a folder called `Weather_Database` to save all the files related with this deliverable.

2. Save the `Weather_Database_starter_code.ipynb` starter code to the `Weather_Database` folder and rename it as `Weather_Database.ipynb`.

3. Use the `np.random.uniform` function to generate a new set of 2,000 random latitudes and 2,000 longitudes.

4. Use the `citipy` module to get the nearest city for each latitude and longitude combination.

5. Import your OpenWeatherMap's API key and assemble the API call URL as a string variable. Recall to edit the `config.py` file to add your API key; also, it's critical to avoid publishing your API key on your GitHub repository.

6. Retrieve the following information from the API call:

    * Latitude and longitude

    * Maximum temperature

    * Percent humidity

    * Percent cloudiness

    * Wind speed

    * Weather description (for example, clouds, fog, light rain, clear sky)

7. Add the weather data to a new DataFrame.

8. Export the DataFrame as a CSV file, and save it as `WeatherPy_Database.csv` in the `Weather_Database` folder.
---

In [22]:
# Import initial libraries
import numpy as np
import pandas as pd
from citipy import citipy

## Use the `np.random.uniform` function to generate a new set of 2,000 random latitudes and 2,000 longitudes.

In [23]:
# Create a set of random latitude and longitude combinations
n = 10 # number of coordinates to generate. 10 to test. 2,000 for final submission.

lats = np.random.uniform(-90, 90, n)
lngs = np.random.uniform(-180, 180, n)

# Use the zip function to create an iterator of tuples containing the latitude and longitude combinations
lats_lngs = zip(lats,lngs)

In [24]:
# Add the latitudes and longitudes to a list
coordinates = list(lats_lngs)
coordinates

[(84.3415730723776, 108.4734299961716),
 (-17.419920302335868, 137.5550277944339),
 (-35.22388059010779, 23.86677322565626),
 (53.19654553350557, 14.307812712998697),
 (38.45032912724929, -169.60698496938883),
 (-12.467241003555557, -116.44974154522843),
 (39.67371868785344, 139.17322776881883),
 (35.39133480564631, -158.7096594715832),
 (12.983443933541736, -18.61197662946921),
 (88.87684868361166, -163.40758735745064)]

## Use the `citipy` module to get the nearest city for each latitude and longitude combination.

In [25]:
# Create an empty list for holding the cities
cities =[]

# Use a for loop to identify nearest city for each latitude and longitude combination using the citipy module
for coordinate in coordinates:
    # Use the citipy module to identify the nearest city to the current coordinate
    city=citipy.nearest_city(coordinate[0], coordinate[1])

    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
        
# Print the city count to confirm sufficient count

print(len(cities))

9

## Import your OpenWeatherMap's API key and assemble the API call URL as a string variable. Recall to edit the `config.py` file to add your API key.

In [26]:
# Import the requests library
import requests

# Import the time library
import time

# Import json
import json

# Import the datetime module from the datetime library
from datetime import datetime

# Import the OpenWeatherMap's API key
from config import weather_api_key

In [27]:
# Assemble the OpenWeatherMap's API call
url="https://api.openweathermap.org/data/2.5/weather?&APPID="+weather_api_key

## Retrieve the following information from the API call.

- The latitude and longitude
- The Max temperature
- The % humidity
- The % cloudiness
- The Wind speed
- The Weather description, i.e., cloudy, fog, light rain, clear sky, etc.

In [28]:
# Create an empty list to hold weather data for each city
city_data = []

# Print a message to indicate that the data retrieval starts
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters and set them to 1
record_count = 1
set_count = 1

# Loop through all the cities in our list to fetch weather data for each city
i=0
for city in cities:
    # Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create an endpoint URL for each city
    city_url = url + "&q=" + city.city_name.replace(" ","+") + "," + city.country_code + '&units=imperial'
    print(city_url)
    
    # Log the url, record, and set numbers
    print(f"Processing Record {record_count} of Set {set_count} | {city.city_name},{city.country_code}")

    # Add 1 to the record count
    record_count += 1

    # Run an API request for each of the cities
   
    city_weather = requests.get(city_url).json()
    # Parse out the latitude, longitude, max temp, humidity, cloudiness, wind, country, and weather description  

    if city_weather["cod"]==200:
        # success!
#         city_weather_formatted_str = json.dumps(city_weather, indent=4)
#         print(city_weather_formatted_str)

        # Parse out the latitude, longitude, max temp, humidity, cloudiness, wind, country, and weather description       
        long=round(city_weather['coord']['lon'],2)
        lat=round(city_weather['coord']['lat'],2)
        max_temp=city_weather['main']['temp_max']
        humidity=city_weather['main']['humidity']
        cloudiness=city_weather['clouds']['all']
        wind_speed=city_weather['wind']['speed']
        country=city_weather['sys']['country']
        city_name=city_weather['name']
        description=city_weather["weather"][0]["description"]
        city_datum={'Lat':lat,'Lng':long,'Max Temp':max_temp,'Humidity':humidity,'Cloudiness':cloudiness,'Wind Speed':wind_speed,'City':city_name,'Country':country,'Current Description':description}
#         print(city_datum)
        # Append the city information into the city_data list
        city_data.append(city_datum)
    else:
        print("HTML Error: "+city_weather["cod"]+" Message: "+city_weather["message"])
    i+=1
    

# Indicate that the data retrieval is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=saskylakh,ru&units=imperial
Processing Record 1 of Set 1 | saskylakh,ru
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=alyangula,au&units=imperial
Processing Record 2 of Set 1 | alyangula,au
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=plettenberg+bay,za&units=imperial
Processing Record 3 of Set 1 | plettenberg bay,za
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=schwedt,de&units=imperial
Processing Record 4 of Set 1 | schwedt,de
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=kapaa,us&units=imperial
Processing Record 5 of Set 1 | kapaa,us
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=rikitea,pf&units=imperial
Processing Record 6 of Set 1 | rikitea,pf
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=oga,jp&units=imperial
Processing Record 7 of Set 1 | oga,jp
HTML Error: 404 Message: city not found
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=gunjur,gm&units=imperial
Processing Record 8 of Set 1 | gunjur,gm
https://api.openweathermap.org/data/2.5/weather?&APPID=492a5a3e5474d1017570fc55a90cc59e&q=barrow,us&units=imperial
Processing Record 9 of Set 1 | barrow,us
-----------------------------
Data Retrieval Complete
-----------------------------

In [29]:
# Print the length of the city_data list to verify how many cities you have
len(city_data)

8

## Add the weather data to a new DataFrame.

In [30]:
# Use the city_data list to create a new pandas DataFrame.
city_data_df = pd.DataFrame(city_data)

In [31]:
# Display sample data
city_data_df.head(10)

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City,Country,Current Description
0,71.92,114.08,-28.89,99,41,6.53,Saskylakh,RU,scattered clouds
1,-13.85,136.42,80.62,66,5,9.04,Alyangula,AU,clear sky
2,-34.05,23.37,64.63,89,0,4.38,Plettenberg Bay,ZA,clear sky
3,53.06,14.28,35.58,100,100,4.14,Schwedt,DE,overcast clouds
4,22.08,-159.32,69.78,77,100,3.44,Kapaa,US,overcast clouds
5,-23.12,-134.97,79.97,81,0,23.06,Rikitea,PF,clear sky
6,13.20,-16.73,98.67,13,0,4.61,Gunjur,GM,clear sky
7,71.29,-156.79,-9.38,84,100,12.66,Barrow,US,overcast clouds

In [32]:
# Display the DataFrame's column names using the columns Pandas function
city_data_df.columns

Index(['Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed',
       'City', 'Country', 'Current Description'],
      dtype='object')

In [33]:
# Create a list to reorder the column names as follows:
# "City", "Country", "Lat", "Lng", "Max Temp", "Humidity",  "Cloudiness", "Wind Speed",  "Current Description"
col_names=["City", "Country", "Lat", "Lng", "Max Temp", "Humidity",  "Cloudiness", "Wind Speed",  "Current Description"]

# Recreate the DataFrame by using the new column order
city_data_df_final=city_data_df[col_names]

# Display sample data
city_data_df_final.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Saskylakh,RU,71.92,114.08,-28.89,99,41,6.53,scattered clouds
1,Alyangula,AU,-13.85,136.42,80.62,66,5,9.04,clear sky
2,Plettenberg Bay,ZA,-34.05,23.37,64.63,89,0,4.38,clear sky
3,Schwedt,DE,53.06,14.28,35.58,100,100,4.14,overcast clouds
4,Kapaa,US,22.08,-159.32,69.78,77,100,3.44,overcast clouds
5,Rikitea,PF,-23.12,-134.97,79.97,81,0,23.06,clear sky
6,Gunjur,GM,13.20,-16.73,98.67,13,0,4.61,clear sky
7,Barrow,US,71.29,-156.79,-9.38,84,100,12.66,overcast clouds

In [34]:
# Display the data types of each column by using the dtypes Pandas function
city_data_df_final.dtypes

City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

## Export the DataFrame as a CSV file, and save it as `WeatherPy_Database.csv` in the `Weather_Database` folder.

In [35]:
# Set the output file name
filename='WeatherPy_Database.csv'

# Export the city_data DataFrame into a CSV file
city_data_df_final.to_csv(filename)